{% extends "core/home.html" %}
{% load staticfiles %}
{% block extrahead %}

    <link href="{% static 'css/clientes.css' %}" rel="stylesheet">
	<link href="{% static 'css/select2.css' %}" rel="stylesheet">
    <script src="{% static 'js/plan_pagos.js' %}"></script> 
    <script src="{% static 'js/nueva_poliza.js' %}"></script> 
	<script src="{% static 'js/select2.js' %}"></script> 

	<script type="text/javascript">
        // When the document is ready
        
        var GET_PLAN_PAGOS = "{% url 'get_plan_pagos' %}"
        var BORRAR_CUPON ="{% url 'borrar_cupon' %}"
        $(document).ready(function () {
            
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy"
            });  

            $('#busqueda_cliente').select2({
                minimumInputLength: 3
            });
            $("input[type=text]").keyup(function(){
                $(this).val( $(this).val().toUpperCase() );
            });
        
        });
    </script>
    
{% endblock %}
{% block title %}Poliza | {{ block.super }}{% endblock %}


