{% extends "administrativo/home_administrativo.html" %}
{% block menu %}
  <ul class=" nav navbar-nav">
        <li class="active"><a href="{% url 'ventas' %}">Consulta Ventas</a></li>
        

        <li class="dropdown">
          <a href="{% url 'nuevo_venta' 0 %}" class="dropdown-toggle" data-toggle="dropdown">Nueva Venta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'nuevo_venta' 0 %}">Factura</a></li>
            <li><a href="{% url 'nuevo_venta' 1 %}">Boleta</a></li>

          </ul>
        </li>
        <li><a href="{% url 'compras' %}">Consulta Compras</a></li>
        <li><a href="{% url 'nuevo_compra' %}">Nueva Compra </a></li>
  </ul>

  <script type="text/javascript">
    $(document).ready(function() {
        $('#ventas').DataTable();
    } );
  </script>

{% endblock %}


{% block contenido %}
<div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <h2>  <i class="icon-coins"></i> Consulta Ventas</h2>
          <hr>
        </div>
      </div>

     

      <div >
        <table id ="ventas" class="table striped bordered">
          <thead class="bg-sgray">

          <tr>
            <th class=" text-left">Nº Documento</th>
            <th class=" text-left">Cliente</th>
            <th class=" text-left">Emisión</th>
            <th class=" text-center"></th>
            <th class=" text-center">Estado</th>
            <th class=" text-right">IGV</th>
            <th class=" text-right">Total</th>
            <th class=" text-center"></th>
          </tr>
          </thead>

          <tbody>
          {% for docventa in lista_docventa %}
          <tr>
          	<td>{{ docventa.numero_documento }}</td>
            <td>{{ docventa.nombre }}</td>
            <td>{{ docventa.fecha_emision|date:"d-m-Y"  }}</td>
            <td class="text-center">{{ docventa.moneda }}</td>
            <td class="text-center">{{ docventa.estado_doc_venta }}</td>
            <td class="text-right">{{ docventa.igv }}</td>
            <td class="text-right">{{ docventa.total }}</td>
            <td class="text-center"><a href="/"><i class="icon-zoom-in"></i></a></td>
          </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>  

 </div>
{% endblock %}


 
