{% extends "cliente/home_cliente.html" %}
{% block menu %}
	<ul class="nav navbar-nav">
        <li ><a href="{% url 'lista_clientes' %}">Clientes</a></li>
        <li class="active dropdown">

          <a href="{% url 'nuevo_cliente' 0 %}" class="dropdown-toggle" data-toggle="dropdown">Nuevo Cliente <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'nuevo_cliente' 0 %}">Natural</a></li>
            <li><a href="{% url 'nuevo_cliente' 1 %}">Juridico</a></li>
          </ul>
        </li>
	</ul>
{% endblock %}
{% block contenido %}
	<div class="container-fluid">
		<form class="form-horizontal " role="form" action="{% url 'nuevo_cliente' 0 %}" method="post">

			{% csrf_token %}
			<div class="tabbable tabs">
				<ul class="nav nav-pills">
	                <li class="active">
	                	<a href="#cliente-form-tab" data-toggle="tab">Nuevo cliente</a>
	                </li>
	                <li><a href="#perfil-form-tab" data-toggle="tab">Perfil</a></li>
	                
	            </ul>
				<div id="rep-content-tabs" class="tab-content" >
					<div class="row tab-pane active" id="cliente-form-tab">
						
						

						{% if cliente_natural %}
							<h2>Cliente Natural</h2>
							<div class="well ">
								<legend><i class="icon-clipboard-2"></i>Datos generales</legend>
						    	<div class="form-group">
								    <label class="col-sm-1 control-label">Nombre(s)</label>
								    <div class="col-sm-10">
								    	{{ persona_form.nombre }}
							    	</div>
						    	</div>
						    	<div class="form-group">
								    <label class="col-sm-1 control-label">Apellido(s)</label>
								    <div class="col-sm-10">
								    	{{ persona_form.apellido }}
							    	</div>
						    	</div>
						    	<div class="form-group">
								    <label class="col-sm-1 control-label">DNI</label>
								    <div class="col-sm-2">
								    	{{ persona_form.dni }}
							    	</div>
							    	<label class="col-sm-1 control-label">Estado civil</label>
								    <div class="col-sm-2">
								    	{{ persona_form.estado_civil }}
							    	</div>
							    	<label class="col-sm-1 control-label">Fecha de nacimiento</label>
								    <div class="col-md-2">
								    	{{ persona_form.fecha_nacimiendo }}
							    	</div>
							    	<label class="col-sm-1 control-label">Sexo</label>
								    <div class="col-sm-2">
								    	{{ persona_form.sexo }}
							    	</div>
						    	</div>

							</div>
							<div class="well ">
								<legend><i class="icon-clipboard-2"></i>Datos Contacto</legend>
								<div class="form-group">
								    <label class="col-sm-1 control-label">Telefono </label>
								    <div class="col-sm-2">
								    	{{ Telefono_form.operador }}
							    	</div>

								    <div class="col-sm-2">
								    	{{ Telefono_form.numero }}
							    	</div>
						    	</div>
						    	<div class="form-group">
								    <label class="col-sm-1 control-label">Direccion </label>
								    <div class="col-sm-2">
								    	{{ Direccion_form.ciudad }}
							    	</div>

								    <div class="col-sm-2">
								    	{{ Direccion_form.distrito }}
							    	</div>
							    	<div class="col-sm-2">
								    	{{ Direccion_form.direccion }}
							    	</div>
							    	<div class="col-sm-2">
								    	{{ Direccion_form.interior }}
							    	</div>

						    	</div>
						    	<div class="form-group">
								    <label class="col-sm-1 control-label">Email </label>
								    <div class="col-sm-8">
								    	{{ email_form.email }}
							    	</div>

								    
						    	</div>
							</div>
						{% else%}

							<fieldset class="well ">
								<legend><i class="icon-clipboard-2"></i>Datos Cliente</legend>
								
									
							    
							    <div class="form-group">
								    <label class="col-md-4 control-label">Razon Social</label>
								    
							    	{{ cliente_form.razon_social }}
								     
							    </div>
							    <div class="form-group">
								    <label class="col-md-4 control-label">Ruc</label>
								    
							    	{{ cliente_form.ruc }}
								     
							    </div>
							    
							    <div class="form-group">
								    <label class="col-md-4 control-label">Direccion 1</label>
								    
							    	{{ cliente_form.direccion_1 }}
								     
							    </div>
							    <div class="form-group">
								    <label class="col-md-4 control-label">Direccion 2</label>
								    
							    	{{ cliente_form.direccion_2 }}
								     
							    </div>
								
								<div class="form-group">
								    <label class="col-md-4 control-label">Telefono fijo</label>
								    
							    	{{ cliente_form.telefono_fijo }}
								     
							    </div>
							    <div class="form-group">
								    <label class="col-md-4 control-label">Email Corporativo</label>
								    
							    	{{ cliente_form.email_corporativo }}
								     
							    </div>
							</fieldset>
							<fieldset class="well ">
								<legend><i class="icon-clipboard-2"></i>Otros Datos</legend>
								<button class="btn btn-danger "> Agregar campo </button>
							</fieldset>

						{% endif %}
						<div class="form-group">
						    <div class="col-md-offset-4 col-md-6">
						      	<button type="submit" class="btn btn-success">Guardar</button>
						      	<button type="submit" class="btn btn-primary">Guardar y Salir</button>
						    </div>
						    
						</div>
					</div>
					<div class="row tab-pane " id="perfil-form-tab">
					</div>
				</div>
			</div>
		</form>
	</div>
	
{% endblock %}